<div class="stats btn-group">
  <button type="button" class="btn btn-default">
    <a href="/<%= @user.username %>/following">
      <strong id="following" class="stat">
        <%= @user.followed_users.count %>
      </strong><br>
      Seguindo
    </a>
  </button>
  <button type="button" class="btn btn-default">
    <a href="/<%= @user.username %>/followers">
      <strong id="followers" class="stat">
        <%= @user.followers.count %>
      </strong><br>
      Seguidores
    </a>
  </button>
</div>