.form-page {
	max-width: 500px;
	margin: 0 auto;

	h2 {
		text-align: center;
	}
}

.shared-links {
	margin-top: 10px;
	font-size: 1em;

	a {
		padding: 5px 0;
		font-size: 1.2em;
	}
}

.date-form select {
	display: inline;
	width: 32%;
	height: 34px;
	padding: 6px 5px;
	font-size: 14px;
	line-height: 1.42857143;
	color: #555;
	background-color: #fff;
	background-image: none;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.post-input {
	margin-bottom: 10px;
}

#error_explanation {
	max-width: 100%;
	word-wrap: break-word;
}
