.like
.like:hover,
.like:visited {
	color: green;
	background-color: rgba(0,0,0,1);
}

.dislike
.dislike:hover,
.dislike:visited {
	color: red;
	background-color: rgba(0,0,0,1);
}

.link-button:visited {
	background-color: white;
}

.link-button:hover {
	background-color: #E9EAED;
}
