$saDefault      : #e67e22;
$saHighlight    : #d35400;
$colDefault     : #ecf0f1;
$colHover       : #ffe6d1; 

.navbar-default {
    background-color: $saDefault;
    border-color: $saHighlight;
    .navbar-brand {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHover; }}
    .navbar-nav {
        > li {
            > a {
                color: $colDefault;
                &:hover, &:focus {
                    color: $colHover;   }}}
        .active {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $saHighlight; }}
        .open {
            > a, > a:hover, > a:focus {
                color: $colHover;
                background-color: $saHighlight;
                .caret {
                    border-top-color: $colHover;
                    border-bottom-color: $colHover; }}}
        > .dropdown {
            > a {
                .caret {
                    border-top-color: $colDefault;
                    border-bottom-color: $colDefault; }
                &:hover, &:focus {
                    .caret {
                        border-top-color: $colHover;
                        border-bottom-color: $colHover; }}}}}
    .navbar-toggle {
        border-color: $saHighlight;
        &:hover, &:focus {
            background-color: $saHighlight; }
        .icon-bar {
            background-color: $colDefault; }}}
@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: $colDefault;
        &:hover, &:focus {
            color: $colHover;
            background-color: $saHighlight; }}
}

.sa-icon {
	color: $saHighlight;
}

.navbar-icon-container {
  margin: 0 auto;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}

#menu-icon {
    color: $colDefault;
}