.front-logo {
	margin: 2em auto;
}

.welcome {
	text-align: center;
}

.welcome .fa {
	color: #333;
	text-decoration: none;
}

.welcome a:hover {
	color: #333;
	text-decoration: none;
	background: none;
}