<div class="welcome">
	<%= image_tag 'logo-large.png', :class => 'front-logo img-responsive img-rounded' %>

	<div class="text-wrapper">
		<p>O Sociedade Avalia é uma rede social totalmente voltada à política. Aqui você pode discutir ideias e acompanhar figuras políticas. Além disso, você pode avaliar políticos e partidos, observando quais são os políticos mais bem avaliados.</p>

		<p>O projeto Sociedade Avalia foi desenvolvido por Ruan Brandão como Trabalho de Conclusão do Curso de Análise e Desenvolvimento de Sistemas da Faculdade de Tecnologia da Zona Sul.</p>

		
	</div>

	<div class="icon-with-text">
		<a href="https://github.com/ruan-brandao/sociedade-avalia" target="_blank">
			<i class="fa fa-github fa-2x"></i> Código Fonte disponível no GitHub
		</a>
	</div>

	<div class="icon-with-text">
		<i class="fa fa-at fa-2x"></i> contato@sociedadeavalia.com.br
	</div>
</div>