<div class="welcome">
	<%= image_tag 'logo-large.png', :class => 'front-logo img-responsive img-rounded' %>

	<h1>Página em Construção</h1>

	<a href="https://github.com/ruan-brandao/sociedade-avalia" target="_blank">
		<i class="fa fa-github fa-4x"></i>
	</a>
</div>