<h1>Editar post</h1>

<%= form_for(@post) do |f| %>
	<div class="row">
		<div class="col-md-9"><%= f.text_area :content, class: 'form-control post-input', rows: '3' %></div>
		<div class="col-md-3"><%= f.submit 'Atualizar Post', class: 'btn btn-lg btn-primary btn-block' %></div>
	</div>
<% end %>

<div class="shared-links">
	<%= link_to 'Voltar', posts_path %>
</div>
