.political_party {
	background-color: #fff;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	min-height: 100px;
	width: inherit;
	clear: both;
}

.political-party-picture {
	max-width: 6em;
	height: auto;
	position: relative;
	border-radius: 5px;
	float: left;
}

.political-party-info {
	padding: .5em;
	margin-left: 6.5em;
}
