// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.post {
	background-color: white;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	min-height: 100px;
	position: relative;
}

.post-author {
	display: inline;
}

.post-options {
	right: 0.5em;
	top: 0.5em;
	float: right;
	position: absolute;
}

.post-content {
	padding: 10 5px;
	margin: 10px;
	max-width: 100%;
	word-wrap: break-word;
}

.post-footer{
	bottom: 0;
	position: relative;
	margin: 0 auto;
}

.like,
.like a,
.like a:hover,
.like a:visited {
	color: green;
}

.dislike,
.dislike a,
.dislike a:hover,
.dislike a:visited {
	color: red;
}

.thumb-icon {
	margin: 5px;
}

.post-author-picture {
	width: auto;
	height: 40px;
}
