.profile {
	width: auto;
	max-width: 100%;
	height: auto;
	margin: 1em 0;
	border-radius: 10px;
	background-color: #e57d1d;
	padding-bottom: .6em;
}

.profile-picture {
	height: 4em;
	width: auto;
	max-width: 6em;
	position: relative;
	left: .6em;
	top: .6em;
	border: 2px solid #256929;
	border-radius: 5px;
}

.profile-name {
	position: relative;
	margin-left: 2.9em;
	margin-top: -1.5em;
}

.follow-button {
	margin-left: .6em;
}

.stats {
	margin-top: 1em;
	margin-left: .6em;
}

.profile-icon {
	color: #2FC2EF;
}

.politician-like-bar {
	width: 95%;
	margin: .5em auto;
}

.politician-like-button-group {
	width: 90%;
	margin: .5em;
}

.politician-like-button {
	color: green;
}

.politician-dislike-button {
	color: red;
}

.profile-political-party-name {
	position: relative;
	top: -0.9em;
	left: 6.9em;
}
